In [2]:
import yfinance as yf

gme_data = yf.download('GME')

gme_data.reset_index(inplace=True)

gme_data.head()

[*********************100%***********************]  1 of 1 completed

Price        Date     Close      High       Low      Open    Volume
Ticker                  GME       GME       GME       GME       GME
0      2002-02-13  1.691666  1.693350  1.603296  1.620128  76216000
1      2002-02-14  1.683251  1.716074  1.670626  1.712708  11021600
2      2002-02-15  1.674834  1.687458  1.658001  1.683250   8389600
3      2002-02-19  1.607504  1.666418  1.578047  1.666418   7410400
4      2002-02-20  1.662210  1.662210  1.603296  1.615920   6892800